:root {
  --ui-color-dark: #141414;
  --ui-color-light: #f9f9f9;

  --ui-color-gray-100: #dddddd;
  --ui-color-gray-500: #696969;
  --ui-color-gray-800: #2e2e2e;

  --ui-color-blue-100: #e0f2fe;
  --ui-color-blue-200: #a2deff;

  --ui-color-orange-100: #ffe0ca;

  --ui-color-green-100: #d5f5eb;

  --ui-color-violet-100: #e3daf9;

  --ui-color-pink-100: #f9e2f2;
}
